.product-card {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(50, 50, 71, 0.14);
    border-radius: 4px;
    padding: 16px;
    min-width: 440px;
    height: 240px;
    &__top {
        display: flex;
        gap: 30px;
        align-items: center;
        margin-bottom: 30px;
    }

    &__top-img {
        width: 70px;
        height: 70px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__top-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #333333;
    }

    &__btn {
        background: #06A56C;
        border-radius: 4px;
        height: 42px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        color: #F4F8FB;
    }
}