.main {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 40px;

    &__categories {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__category {
        display: flex;
        padding: 12px;
        align-items: center;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.04);
        position: relative;

        p {
            font-size: 16px;
            margin: 0 40px 0 10px;
        }

        span {
            font-weight: 700;
            font-size: 10px;
            color: #F44336;
            position: absolute;
            left: 53%;
            top: 10px;
        }

        &-icon {
            margin-left: auto;
        }
    }

    &__features {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__feature {
        width: 110px;
        height: 110px;
        display: flex;
        flex-direction: column;
        text-align: center;

        img {
            width: 60px;
            height: 60px;
            margin: 0 auto 6px;
        }

        p {
            font-weight: 700;
            font-size: 12px;
        }
    }
}