.about {
    max-width: 1200px;
    margin: 0 auto 25px;
    padding: 0 15px;

    h2 {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        color: #333333;
        margin-bottom: 10px;
    }
}