.header {
    margin-bottom: 32px;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;

    &__top {
        background-color: #060F42;
        color: #fff;
        padding: 5px 0;
    }

    &__top-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__top-list {
        ul {
            display: flex;
            gap: 10px;
            align-items: center;
        }
    }

    &__top-icon {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__top-user{
        font-size: 18px;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 10px;
        span {
            color: #06A56C;
            font-size: 20px;
        }
    }

    &__content {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    }

    &__content-wrapper {
        padding: 28px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content-btn {
        button {
            width: 173px;
            height: 42px;
            background: #06A56C;
            border-radius: 4px;
            display: flex;
            padding: 9px 12px;
            align-items: center;
            justify-content: space-between;
            color: #fff;
        }
    }

    &__content-search {
        width: 758px;
        height: 42px;
        display: flex;
        align-items: center;

        button {
            width: 48px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #01579B;
            border-radius: 0px 4px 4px 0px;
        }

        input {
            background: #FFFFFF;
            border: 1px solid #E6E6E6;
            border-radius: 4px 0 0 4px;
            width: 100%;
            height: 42px;
            padding: 0 12px;
            color: #060F42;
            outline: none;
            &::placeholder {
                color: #E5E5E5;
            }
        }
    }

    &__content-phone{
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        padding: 0 20px 0 10px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 3px;
            width: 2px;
            height: 20px;
            background-color: #060F42;
        }
    }
    &__content-links{
        display: flex;
        gap: 16px;
    }
    &__content-link{
        position: relative;
        span {
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: #06A56C;
            border-radius: 50%;
            font-size: 10px;
            top: -10px;
            right: -10px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}