.sign-up {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 400px;
    }

    &__form-title {
        font-weight: 700;
        font-size: 26px;
    }

    &__descr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
        p {
            color: #333333;
        }
    }

    &__button {
        width: 100%;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #01579B;
        border-radius: 4px;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #F4F8FB;
        text-transform: uppercase;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .sign-up__link {
        color: #01579B;
    }

}